.view-find-a-story input, .view-find-a-story select { font-size: 11px; }
.view-find-a-story input.form-text { padding: 5px; }
.view-find-a-story button, .view-find-a-story input[type="reset"], .view-find-a-story input[type="submit"], .view-find-a-story input[type="button"] { font-size: 11px; }
.view-find-a-story .views-exposed-form { background-color: #e7e7e7; padding: 0 10px; margin-bottom: 20px; }
.view-find-a-story .views-exposed-form .description { display: none; }
.view-find-a-story .views-exposed-form label { font-size: 85%; }
.view-find-a-story .views-exposed-form .views-exposed-widget .form-submit { margin-top: 2.6em; }
.view-find-a-story .views-exposed-form .views-exposed-widget { padding-bottom: 10px; }
.view-find-a-story #edit-combine-wrapper { padding-bottom: 0; }
.view-find-a-story #edit-combine-wrapper input.form-text { background-color: #fff; }
@media screen and (max-width: 768px) { .view-find-a-story #edit-combine-wrapper { float: none; margin-right: -1em; }
  .view-find-a-story #edit-combine-wrapper input.form-text { width: 100%; } }
